body{
    background-color: #444444;
    background: url(./images/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #F8F9F9;
    margin: 0px;
    padding: 0px;
    font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-align: center;
}

html{
    margin: 0px;
    padding: 0px;
}

#pilot{
    display: block;
    position: fixed;
    top: 15%;
    width: 100%;
}

#pilotName{
    display: block;
    color: #F8F9F9;
    text-transform: capitalize;
    font-size: 50px;
    width: 300px;
    text-align: center;
    font-weight: 700;
}

#pilotRole{
    display: block;
    color: #F8F9F9;
    font-size: 25px;
    width: 300px;
    text-align: center;
    margin-top: 20px;

}

#pilotImage{
    display: block;
    width: 100%;
    height: 380px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 4px solid #337bec;
    border-bottom: 4px solid #3975ed;
    background-color: #F8F9F9;
    background-image: url(./images/xmatters.png);
}

a{
    color: #dddddd;
    text-decoration: none;
}

#personas{
    position:fixed;
    left: 0;
    bottom: 20px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

#personas li{
    display: inline-block;
    margin: 4px;
    padding: 2px;
    text-align: center;
}

#openWindow{
    position:fixed;
    right:0;
    bottom:0;
}